body {
  background-color: #0f0f0f;
  color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}

.space-pd{
  padding: clamp(40px, 5vw, 50px) 0;
}


/* ===== Scroll fluido per tutta la pagina ===== */
html {
  scroll-behavior: smooth;
}

/* ===== Stile scrollbar Chrome/Edge/Safari ===== */
body::-webkit-scrollbar {
  width: 10px;      
  height: 10px;    
}

body::-webkit-scrollbar-track {
  background: #1e1e2f; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4ffdff; 
  border-radius: 10px;
  border: 2px solid #1e1e2f;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #7a5fff;
}

/* ===== Stile scrollbar Firefox ===== */
html {
  scrollbar-width: thin;              
  scrollbar-color: #4ffdff #1e1e2f;
}


/* Caricamento */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #7a5fff;
  border-top: 6px solid #ff4fd8; /* colore in tema Anime Watched */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Form */
.form-control,
.form-select {
  background-color: #1f1f1f;
  color: #fff;
  border: none;

  &::placeholder {
    color: #aaa;
  }

  &:focus::placeholder {
    color: #000;
  }
}

.btn-gradient {
  background: linear-gradient(45deg, #ff4fd8, #7a5fff);
  color: #fff;
  font-weight: 600;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

/* Popup */
.modal-content {
  background-color: #0f0f0f;
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-body img {
  max-height: 320px;
}

/* Container cards */
.grid-item.card {
  display: grid;
  grid-template-rows: auto 1fr;

  & .cont-img {
    overflow: hidden;
    aspect-ratio: 260 / 362;
  }
}

/* Cards anime */
.card {
  background-color: #1a1a1a;
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 18px rgba(255, 79, 216, 0.4);
  }
}

.card-body {
  align-content: center;
}

.card-title {
  color: #ff4fd8;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* List anime search */
#results {
  max-height: 0;
  overflow: hidden auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 5px #fff1;
  padding-bottom: 20px;
  opacity: 0;
  transition: all 0.2s;

  &.open {
    max-height: 500px;
    opacity: 1;
  }
}

.search-item {
  color: #efefef;
  font-size: 14px;

  & .d-grid {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  & .search-img img {
    max-height: 130px;
  }

  & .list-group li {
    display: block;
    padding: 2px 0;
  }
}